.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-caption h1 {
    font-size: 80px;
}

.carousel-item img {
    height: 800px;
}

#carouselWrapperFade {
    height: 800px;
    font-family: 'Signika', sans-serif;
}